body {
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

#introduction {
    background-color: #FFFDDE;
    font-size: 200%;
    min-height: 100vh;
    position: relative; /* set to relative so that we can set its child elements 
    absolute and relative to this introduction container */
    text-align: center; /* Only works if there is no fixed width set / width is 
    not the entire page */
    margin: auto;
}

.bodyImg {
    width: 300px;
    border-radius: 100%;
    padding: 30px 0px;
    /* margin-right: 60px; */
}

#aboutMe {
    background-color: #FFC3C3;
    height: auto;
    width: auto;
}

#aboutMe p {
    width: 50%;
    line-height: 2;
    text-align: left;
    /* overflow: hidden; */
    float: right;
    padding: 10% 0;
}

#aboutMeImg {
    float: left;
}

#workExperience {
    background-color: #FFD9C0;
}

#workExperienceImg {
    float: right;
}

#contactMe {
    background-color: #FAF0D7;
}

#contactMe p {
    width: 80%;
    line-height: 2;
    text-align: left;
    padding: 10% 0;
}

.sectionContent {
    background-color: black;
}

.cloud {
    padding: 7%;
    position: absolute;
}

.topCloud {
    top: 0;
    right: 10%;
}
.bottomCloud {
    left: 0;
}

.mountainImg {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-top: 0;
    max-width: 95%;
}

.socialMediaLogo {
    width: 1em;
}

h1, h2, h3 {
    /* -webkit-text-stroke: 0.1px black; */ /* black outline text supporting Chrome & Safari, 
    which uses WebKit rendering engine */
    color: #66bfbf;
    font-family: 'RetroElectro', sans-serif;
    margin: 0;
}

h1 {
    margin: auto; /* center element horizontally */
    font-size: 7rem; /* rem vs em so that the font-size from parent body element 
    doesn't affect this, which may cause hard to find bugs */
}

h2 {
    font-size: 3rem;
    font-weight: lighter;
}

p {
    margin: 0 auto;
    padding: 20px;
}

img {
    display: inline-block;
    /* object-fit: contain; */
    padding: 0;
    max-width: 100%;
}

div {
    padding: 60px 25%;
    position: relative;
    overflow: hidden; /* this is parent element of floating elements.
    the div will expand with floating elements instead of 
    clipping/hiding them */
}

table {
    margin: 0 auto;
    padding: 15% 0;
}

th, td {
    padding: 10px;
}

tr {
    text-align: left;
}

.contactLink {
    padding: 0 40px;
}

@media (max-width:1400px) {
    #aboutMe p, #contactMe p {
        width: 50%;
        margin: 0 auto; /* center text */
        line-height: 2;
        /* clear: both; */
        float: none;
        padding: 10px 0;
    }

    #aboutMeImg {
        /* clear: both; */
        float: none; /* center elements after set breakpoint */
    }

    #workExperienceImg {
        float: none;
    }

    div {
        padding: 60px 0;
    } 

    table {
        padding: 10px;
    }

    .contactLink {
        display: block;
        padding: 20px 0;
    }
}